<div>
    <h1 class="d-flex justify-content-center">Categories</h1>
    <div class="row row-cols-lg-5 row-cols-md-3 row-cols-md-2 hd-grid gap-4 d-flex justify-content-around .h-100">
        <div id="African" class="center-img">
            <img src="https://spoonacular.com/recipeImages/716298-636x393.jpg" [routerLink]="['/search', 'african']"
                alt="How to Make Party Jollof Rice" />
            <h1 class="d-flex justify-content-center">African</h1>
        </div>
        <div id="American" class="center-img">
            <img src="https://spoonacular.com/recipeImages/632342-636x393.jpg" [routerLink]="['/search', 'american']"
                alt="An American Beef Burger" />
            <h1 class="d-flex justify-content-center">American</h1>
        </div>
        <div id="British" class="center-img">
            <img src="https://spoonacular.com/recipeImages/658300-636x393.jpg" [routerLink]="['/search', 'british']"
                alt="English breakfast" />
            <h1 class="d-flex justify-content-center">British</h1>
        </div>
        <div id="Caribbean" class="center-img">
            <img src="https://pbs.twimg.com/media/C-gUjxMUAAAiB-T.jpg" [routerLink]="['/search', 'caribbean']"
                alt="Casado" />
            <h1 class="d-flex justify-content-center">Caribbean</h1>
        </div>
        <div id="Chinese" class="center-img">
            <img src="https://spoonacular.com/recipeImages/638693-636x393.jpg" [routerLink]="['/search', 'chinese']"
                alt="Chinese Potstickers" />
            <h1 class="d-flex justify-content-center">Chinese</h1>
        </div>
        <div id="French" class="center-img">
            <img src="https://spoonacular.com/recipeImages/643362-636x393.jpg" [routerLink]="['/search', 'french']"
                alt="Ratatouille" />
            <h1 class="d-flex justify-content-center">French</h1>
        </div>
        <div id="Korean" class="center-img">
            <img src="https://spoonacular.com/recipeImages/643362-636x393.jpg" [routerLink]="['/search', 'korean']"
                alt="Korean Beef Rice Bowl" />
            <h1 class="d-flex justify-content-center">Korean</h1>
        </div>
        <div id="Mexican" class="center-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHrHshJxNMzA04dHqPw2pZQc27nY6x1bFVKw&usqp=CAU"
                [routerLink]="['/search', 'mexican']" alt="Tacos" />
            <h1 class="d-flex justify-content-center">Mexican</h1>
        </div>
    </div>
</div>