.uk-search-input::placeholder{
  color: #f4642d;
  opacity: .5;
}
.container-fluid uk-background-default{
  width: 100%;
}
.cardTitle{
  background-color: white;
  outline-style: none;
}
h3{
  font-weight: bold;
}
.cardContainer:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 1s ease;
  color:#f4642d;
}
.uk-navbar-toggle{
  color:#f4642d;
}
#reviewCard{
  display: flex;
  flex-direction: column;
}
.nav-overlay-review uk-navbar-right{
  justify-content: end;
}