.uk-search-input::placeholder{
  color: #f4642d;
  opacity: .5;
}
.cardContainer {
  border-width: medium !important;
  border-bottom-color: #f4642d !important;
}
.container-fluid{
  display: flex;
  justify-content: space-between;
}