.uk-search-input::placeholder{
  color: #f4642d;
  opacity: .8;
}
.container-fluid uk-background-default{
  width: 100%;
}
.cardTitle{
  background-color: white;
  outline-style: none;
  margin-bottom: 0px;
}
h3{
  font-weight: bold;
  margin-bottom: 0px;
}
.cardContainer:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 1s ease;
  color:#f4642d;
}
#cardContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}
#cardContainerLeft{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
#cardContainerRight{
  display: flex;
  flex-direction: column;
}
.reviewCard{
  margin-bottom: 0px;
}
.uk-navbar-toggle{
  color:#f4642d;
}
#reviewCard{
  display: flex;
  flex-direction: column;
}
.nav-overlay-review uk-navbar-right{
  width: 100%;
  justify-content: end;
  height: 50px;
}

#writeaReview{
  align-items: start;
  justify-content: end;
  width:100%;
  padding-bottom: 0%;
  padding-top: 0%;
  color:#f4642d;
  font-size: medium
}

#submitButton{
  color:whitesmoke;
  border-style: none;
  width: 150px;
  min-height: 40px;
  background-color: #f4642d;
  margin: 0 auto;
  display: block;
  margin-bottom: 5%;
  margin-top: 2%;
  font-size: 15px;
}